<div class="sidebar">
	<div class="wrapper">
		<div class="sidebar__header">
			<div class="sidebar__title">Company</div>
		</div>
		<section class="sidebar__section1">
			<div class="user-card">
				<img class="user-card__photo" src="img/user.png" alt="User photo">
				<div class="user-card__titles">
					<div class="user-card__name">User Name</div>
					<div class="user-card__company">Company Name</div>
				</div>
			</div>
		</section>
		<section class="section2 sidebar__section2">
			<div class="section2__title">general</div>
		</section>
	</div>
</div>